################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
.vs/groupSite/v15/.suo
*.sqlite
.vs/slnx.sqlite
